---
import ServicePageBanner from "@components/features/ServicePageBanner.astro";
import Shape from "@components/Shape.astro";
import Base from "@layouts/Base.astro";
import CounterComponent from "@components/about/CounterComponent.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { getEntryBySlug } from "astro:content";
import { Image } from "@astrojs/image/components";
import MyForm from "@components/MyForm.astro";
import Advantages from "@components/uslugi/Advantages.astro";
import ServiceMethod from "@components/ServiceMethod.astro";
import StepByStep from "@components/about/StepByStep.astro";
import CostServices from "@components/uslugi/CostServices.astro";
import Faq from "@layouts/function-components/Faq.jsx";
import PlacesWork from "@components/PlacesWork.astro";
import CategoryCards from "@components/CategoryCards.astro";

const uslugiIndex: any = await getEntryBySlug("uslugi", "-index");
const about = await getEntryBySlug("about", "index");
export async function getStaticPaths() {
  const uslugipages = await getSinglePage("uslugi");
  const paths = uslugipages.map((post) => ({
    params: {
      single: post.slug,
    },
    props: { post },
  }));
  return paths;
}
const { post } = Astro.props;
const { Content } = await post.render();
const { counter } = about.data;
const page_data = {
  index_title: uslugiIndex.data.title,
  rospotreb: post.data.rospotreb,
  place: post.data.place,
  benifits: post.data.benifits,
  faq: post.data.faq,
  categoryCards: post.data.categoryCards,
  serviceMethod: post.data.serviceMethod,
  steps: post.data.steps,
  costServices: post.data.costServices,
  costServicesTwo: post.data.costServicesTwo,
  costServicesThree: post.data.costServicesThree,
  slug: post.slug,
  keyword1: post.data.keyword1,
  keyword2: post.data.keyword2,
};
const pageBanner = {
  title_meta: post.data.title_meta,
  title_page: post.data.title_page,
  imgBanner: post.data.imgBanner,
  serviceIcon: post.data.serviceIcon,
  altService: post.data.altService,
  description: post.data.description,
  minPric: post.data.minPric,
};
---

<Base
  title={post.data.title_meta}
  meta_title={post.data.meta_title}
  description={post.data.description}
  image={post.data.image}
>
  <Shape />
  <ServicePageBanner pageBanner={pageBanner} />
  {
    page_data.categoryCards && (
      <CategoryCards categoryCards={page_data.categoryCards} />
    )
  }
  {page_data.place && <PlacesWork place={page_data.place} />}
  {
    page_data.rospotreb == "empty" ? (
      ""
    ) : (
      <section class="px-4">
        <div class="container my-8 flex flex-col justify-center rounded-xl bg-white shadow-lg lg:flex-row">
          <Image
            class="animate__animated animate__fadeIn m-8 w-[150px] object-contain"
            alt="Роспотребнадзор"
            src="/images/rospotrebnadzor.webp"
            width={150}
            height={150}
          />
          <div class="mb-8 grid content-center p-4 lg:mb-0">
            <p>Все используемые при обработке препараты и средства</p>
            <p class="text-2xl text-[#1C6767] lg:text-4xl">
              Одобрены Роспотребнадзором
            </p>
          </div>
        </div>
      </section>
    )
  }

  <Advantages benifits={page_data.benifits} />

  <section id="toTheForm" class="px-4">
    <div class="container my-8 rounded-xl bg-white p-14 text-center shadow-lg">
      <h2 class="mb-6 text-xl font-medium lg:text-3xl">{page_data.keyword1}</h2>
      <p>
        Звоните прямо сейчас <a
          class="block text-xl text-[#1C6767] lg:inline lg:text-4xl"
          href="tel:+79161593744">+7 916 159 37 44</a
        > или
      </p>
      <h2 class="text-lg text-[#1C6767] lg:text-4xl">
        Оформите онлайн-заявку:
      </h2>
      <div class="flex justify-center">
        <MyForm form_name={pageBanner.title_page} id_number="2" />
      </div>
    </div>
  </section>

  {
    page_data.rospotreb == "empty" ? (
      ""
    ) : (
      <section class="my-8 mt-24">
        <div class="container">
          <div class="mx-auto text-center lg:max-w-3xl">
            <h2>Почему выбирают именно нас</h2>
            <p class="mt-4">
              Наши сотрудники ведут успешную борьбу с вредителями с 2012 года.
              Вот некоторые цифры, отражающие эффективность нашей команды:
            </p>
          </div>
          <CounterComponent counter={counter} />
        </div>
      </section>
    )
  }

  <ServiceMethod service={page_data.serviceMethod} />

  <StepByStep steps={page_data.steps} />

  <CostServices
    costServices={page_data.costServices}
    costServicesTwo={page_data.costServicesTwo}
    costServicesThree={page_data.costServicesThree}
    place={page_data.place}
  />

  <section id="toTheForm" class="px-4">
    <div class="container my-8 rounded-xl bg-white p-14 text-center shadow-lg">
      <h2 class="mb-6 text-xl font-medium lg:text-3xl">{page_data.keyword2}</h2>
      <p>
        Звоните прямо сейчас <a
          class="text-4xl text-[#1C6767]"
          href="tel:+79161593744">+7 916 159 37 44</a
        > или
      </p>
      <h2 class="text-[#1C6767 ] text-2xl lg:text-4xl">
        Оформите онлайн-заявку:
      </h2>
      <div class="flex justify-center">
        <MyForm form_name={pageBanner.title_page} id_number="3" />
      </div>
    </div>
  </section>

  <section class="section career-single pt-0">
    <div class="container">
      <div class="lg:gx-4 row">
        <div class="lg:col-8">
          <div
            class="content rounded-xl bg-white p-7 shadow-lg lg:px-12 lg:py-[60px]"
          >
            <Content />
          </div>
        </div>
        <div class="lg:col-4">
          <Faq client:load data={post.data} />
          <div
            class="sticky top-24 mt-8 rounded-xl bg-white p-4 shadow-lg lg:p-8"
          >
            <p class="text-center text-xl font-semibold">
              Заказать обработку {page_data.serviceMethod.title}
            </p>
            <a
              class="z-10 mt-4 flex w-full items-center justify-center gap-x-3 rounded-lg bg-primary px-4 py-3 text-center font-medium text-white transition hover:bg-secondary hover:shadow-lg"
              href="#"
            >
              Заказать
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
