---
import ServiceSidebar from "@components/uslugi/ServiceSidebar.astro";
import ServicePageBanner from "@components/features/ServicePageBanner.astro";
import PageHeader from "@components/PageHeader.astro";
import Shape from "@components/Shape.astro";
import Base from "@layouts/Base.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import similerItems from "@lib/utils/similarItems";
import { getEntryBySlug } from "astro:content";

const uslugiIndex: any = await getEntryBySlug("uslugi", "-index");
const uslugipages = await getSinglePage("uslugi");
export async function getStaticPaths() {
  const uslugipages = await getSinglePage("uslugi");
  const paths = uslugipages.map((post) => ({
    params: {
      single: post.slug,
    },
    props: { post },
  }));
  return paths;
}
const { post } = Astro.props;
const { Content } = await post.render();
const similarPosts = similerItems(post, uslugipages, post.slug);
const page_data = {
  index_title: uslugiIndex.data.title,
  page_title: post.data.title,
  slug: post.slug,
};
---

<Base
  title={post.data.title}
  meta_title={post.data.meta_title}
  description={post.data.description}
  image={post.data.image}
>
  <Shape />
  <!-- <ServicePageBanner features={page_data}/> -->

  <section class="page-hero pb-14 pt-16">
    <div class="container rounded-xl bg-[#EDF7F3] py-24">
      <div class="page-hero-content mx-auto max-w-[1200px] text-center">
        <PageHeader page_data={page_data} />
      </div>
    </div>
  </section>
  <section class="section career-single pt-0">
    <div class="container">
      <div class="lg:gx-4 row">
        <div class="lg:col-8">
          <div
            class="content rounded-xl bg-white p-7 shadow-lg lg:px-12 lg:py-[60px]"
          >
            <Content />
          </div>
        </div>
        <ServiceSidebar
          posts={similarPosts[0]}
          sidebar_content={uslugiIndex.data.sidebar_content}
        />
      </div>
    </div>
  </section>
</Base>
