---
import Image from "astro/components/Image.astro";
const { costServices } = Astro.props;
---

<section class="my-8 mt-24">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center lg:col-8">
        <h2>{costServices.title}</h2>
        <p class="mt-4">{costServices.description}</p>
      </div>
    </div>
    <div
      class={`row mt-14 grid grid-cols-1 gap-1 lg:grid-cols-${costServices.cols}`}
    >
      <!-- <div class="row mt-14 grid grid-cols-1 gap-1 lg:grid-cols-3"> -->
      {
        costServices.cost_services_list.map((item: any, i: number) => (
          <div class={`rounded-sm p-4 shadow-md bg-${item.color}`} key={i}>
            <p class="text-xl font-semibold text-primary">{item.method}</p>
            <p class="text-lg font-semibold">
              {item.scope_work}: от{" "}
              <span class="text-xl font-bold text-secondary">
                {item.cost} ₽
              </span>
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
