---
import Logo from "@components/Logo.astro";
import Social from "@components/Social.astro";
import config from "@config/config.json";
import menu from "@config/menu.json";
import social from "@config/social.json";
import { markdownify } from "@lib/utils/textConverter";
const { footer } = menu;
const { copyright, email, phone } = config.params;
---

<footer class="footer bg-[#F1F1F1]">
  <div class="container">
    <div class="row py-6">
      <div class="col-12 text-center md:col-6 lg:col-5 md:text-right">
        <ul>
          {
            footer.map((item, i) => (
              <li class={footer.length - 1 === i ? "mb-0" : "mb-2 lg:mb-0"}>
                <a
                  rel="prefetch-intent"
                  class="hover:text-primary hover:underline"
                  href={item.url}
                >
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div
        class="col-12 my-2 flex justify-center py-2 md:col-6 lg:col-2 md:py-0"
      >
        <Logo />
      </div>
      <div class="col-12 text-center md:col-6 lg:col-5 md:text-left">
        <div class="mb-2 text-lg font-bold lg:mb-0">Контакты</div>
        <ul>
          <li class="mb-2 lg:mb-0">
            <a class="mb-2 hover:text-primary" href={`mailto:${email}`}
              >{email}</a
            >
          </li>
          <li>
            <a class="hover:text-primary hover:underline" href={`tel:${phone}`}
              >{phone}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container max-w-[1440px]">
    <div
      class="footer-copyright mx-auto border-t border-border py-6 text-center"
    >
      <p class="content text-text" set:html={markdownify(copyright)} />
    </div>
  </div>
</footer>
