---
import Logo from "@components/Logo.astro";
import prefetch from "@astrojs/prefetch";
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
} from "astro-navbar";
import menu from "@config/menu.json";

export interface ChildNavigationLink {
  name: string;
  url: string;
}

export interface NavigationLink {
  name: string;
  url: string;
  hasChildren?: boolean;
  children?: ChildNavigationLink[];
}

const { main }: { main: NavigationLink[] } = menu;
const { pathname } = Astro.url;
---

<header class="header">
  <nav class="navbar container flex items-center justify-between">
    <Astronav closeOnClick>
      <div class="flex w-full items-center justify-between lg:w-auto">
        <Logo />
        <span class="ml-3 font-semibold">СЭС МСК</span>
        <div class="block cursor-pointer lg:hidden">
          <MenuIcon class="h-10 w-10 text-primary" />
        </div>
      </div>
      <div class="flex items-center gap-6 lg:order-last">
        <div class="hidden lg:block">
          <ul class="flex items-center gap-6">
            <li>
              <a class="text-md font-bold" href="tel:+79161593744">
                +7 916 159 37 44</a
              >
            </li>
            <li class="flex items-center justify-center">
              <span
                class="absolute -z-10 h-[40px] w-[40px] animate-ping rounded-full bg-[#40B3E0] opacity-70"
              ></span>
              <a href="https://t.me/79161593744" aria-label="telegram">
                <svg
                  viewBox="0 0 256 256"
                  class="h-10"
                  astro-icon="logos:telegram"
                  ><path
                    fill="#40B3E0"
                    d="M128 0C57.307 0 0 57.307 0 128s57.307 128 128 128 128-57.307 128-128S198.693 0 128 0z"
                  ></path><path
                    fill="#FFF"
                    d="M190.283 73.63 167.42 188.899s-3.197 7.994-11.99 4.157l-52.758-40.448-19.184-9.272-32.294-10.872s-4.956-1.758-5.436-5.595c-.48-3.837 5.596-5.915 5.596-5.915l128.376-50.36s10.552-4.636 10.552 3.038"
                  ></path><path
                    fill="#D2E5F1"
                    d="M98.618 187.603s-1.54-.144-3.46-6.22c-1.917-6.075-11.67-38.049-11.67-38.049l77.538-49.24s4.477-2.718 4.317 0c0 0 .799.48-1.6 2.718-2.397 2.239-60.91 54.836-60.91 54.836"
                  ></path><path
                    fill="#B5CFE4"
                    d="m122.901 168.115-20.867 19.026s-1.632 1.238-3.416.462l3.996-35.34"
                  ></path></svg
                >
              </a>
            </li>
            <li>
              <a href="https://wa.me/79161593744" aria-label="whatsapp">
                <svg
                  viewBox="0 0 256 256"
                  class="h-10"
                  astro-icon="logos:whatsapp"
                  ><path
                    fill="#00E676"
                    d="m67.663 221.823 4.185 2.093c17.44 10.463 36.971 15.346 56.503 15.346 61.385 0 111.609-50.224 111.609-111.609 0-29.297-11.859-57.897-32.785-78.824-20.927-20.927-48.83-32.785-78.824-32.785-61.385 0-111.61 50.224-110.912 112.307 0 20.926 6.278 41.156 16.741 58.594l2.79 4.186-11.16 41.156 41.853-10.464z"
                  ></path><path
                    fill="#FFF"
                    d="M219.033 37.668C195.316 13.254 162.531 0 129.048 0 57.898 0 .698 57.897 1.395 128.35c0 22.322 6.278 43.947 16.742 63.478L0 258.096l67.663-17.439c18.834 10.464 39.76 15.347 60.688 15.347 70.453 0 127.653-57.898 127.653-128.35 0-34.181-13.254-66.269-36.97-89.986zM129.048 234.38c-18.834 0-37.668-4.882-53.712-14.648l-4.185-2.093-40.458 10.463 10.463-39.76-2.79-4.186C7.673 134.63 22.322 69.058 72.546 38.365c50.224-30.692 115.097-16.043 145.79 34.181 30.692 50.224 16.043 115.097-34.18 145.79-16.045 10.463-35.576 16.043-55.108 16.043zm61.385-77.428-7.673-3.488s-11.16-4.883-18.136-8.371c-.698 0-1.395-.698-2.093-.698-2.093 0-3.488.698-4.883 1.396 0 0-.697.697-10.463 11.858-.698 1.395-2.093 2.093-3.488 2.093h-.698c-.697 0-2.092-.698-2.79-1.395l-3.488-1.395c-7.673-3.488-14.648-7.674-20.229-13.254-1.395-1.395-3.488-2.79-4.883-4.185-4.883-4.883-9.766-10.464-13.253-16.742l-.698-1.395c-.697-.698-.697-1.395-1.395-2.79 0-1.395 0-2.79.698-3.488 0 0 2.79-3.488 4.882-5.58 1.396-1.396 2.093-3.488 3.488-4.883 1.395-2.093 2.093-4.883 1.395-6.976-.697-3.488-9.068-22.322-11.16-26.507-1.396-2.093-2.79-2.79-4.883-3.488H83.01c-1.396 0-2.79.698-4.186.698l-.698.697c-1.395.698-2.79 2.093-4.185 2.79-1.395 1.396-2.093 2.79-3.488 4.186-4.883 6.278-7.673 13.951-7.673 21.624 0 5.58 1.395 11.161 3.488 16.044l.698 2.093c6.278 13.253 14.648 25.112 25.81 35.575l2.79 2.79c2.092 2.093 4.185 3.488 5.58 5.58 14.649 12.557 31.39 21.625 50.224 26.508 2.093.697 4.883.697 6.976 1.395h6.975c3.488 0 7.673-1.395 10.464-2.79 2.092-1.395 3.487-1.395 4.882-2.79l1.396-1.396c1.395-1.395 2.79-2.092 4.185-3.487 1.395-1.395 2.79-2.79 3.488-4.186 1.395-2.79 2.092-6.278 2.79-9.765v-4.883s-.698-.698-2.093-1.395z"
                  ></path></svg
                >
              </a>
            </li>
          </ul>
        </div>
      </div>
      <MenuItems class="hidden w-full lg:flex lg:w-auto">
        <ul class="flex flex-col text-center lg:flex-row lg:gap-5 lg:text-left">
          {
            main.map((menu) => (
              <li class="mx-auto my-2">
                {menu.hasChildren ? (
                  <Dropdown class="group cursor-pointer">
                    <button class="mx-auto flex items-center text-center font-semibold">
                      <span class="hover:text-secondary">{menu.name}</span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="3"
                        stroke="currentColor"
                        class="mt-0.5 h-3 w-3 group-open:rotate-180"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                        />
                      </svg>
                    </button>
                    <DropdownItems class="relative">
                      <div class="top-2 mt-2 w-full rounded-xl bg-[#EDF7F3] p-4 lg:absolute lg:w-60 lg:bg-white">
                        <ul class="nav-item nav-dropdown group relative w-full cursor-pointer px-8 lg:px-2">
                          {menu.children?.map((child) => (
                            <li class="my-1">
                              <a
                                class="font-semibold hover:text-secondary"
                                href={child.url}
                              >
                                {child.name}
                              </a>
                            </li>
                          ))}
                        </ul>
                      </div>
                    </DropdownItems>
                  </Dropdown>
                ) : (
                  <a
                    class="font-semibold hover:text-secondary"
                    rel="prefetch"
                    href={menu.url}
                  >
                    {menu.name}
                  </a>
                )}
              </li>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </nav>
</header>
<script is:inline>
  const header = document.querySelector(".header");
  window.addEventListener("scroll", () => {
    const scrollY = window.scrollY;
    if (scrollY > 0) {
      header.classList.add("header-sticky");
    } else {
      header.classList.remove("header-sticky");
    }
  });
</script>
