---
import Logo from "@components/Logo.astro";
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  DropdownSubmenu,
} from "astro-navbar";
import menu from "@config/menu.json";

export interface ChildNavigationLink {
  name: string;
  url: string;
}

export interface NavigationLink {
  name: string;
  url: string;
  hasChildren?: boolean;
  children?: ChildNavigationLink[];
}

const { main }: { main: NavigationLink[] } = menu;
const { pathname } = Astro.url;
---

<header class="header">
  <nav class="navbar container">
    <Astronav closeOnClick>
      <div class="flex w-full items-center justify-between lg:w-auto">
        <Logo />
        <div class="block cursor-pointer lg:hidden">
          <MenuIcon class="h-10 w-10 text-primary" />
        </div>
      </div>
      <MenuItems class="hidden lg:flex">
        <ul class="flex flex-col lg:flex-row lg:gap-5">
          {
            main.map((menu) => (
              <li>
                {menu.hasChildren ? (
                  <Dropdown class="group cursor-pointer">
                    <button class="flex items-center">
                      <span class="hover:text-secondary">{menu.name}</span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="3"
                        stroke="currentColor"
                        class="mt-0.5 h-3 w-3 group-open:rotate-180"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                        />
                      </svg>
                    </button>
                    <DropdownItems class="relative">
                      <div class="top-2 w-full rounded border bg-white p-2 shadow lg:absolute lg:w-52">
                        <ul class="nav-item nav-dropdown group relative cursor-pointer">
                          {menu.children?.map((child) => (
                            <li>
                              <a class="hover:text-secondary" href={child.url}>
                                {child.name}
                              </a>
                            </li>
                          ))}
                        </ul>
                      </div>
                    </DropdownItems>
                  </Dropdown>
                ) : (
                  <a class="hover:text-secondary" href={menu.url}>
                    {menu.name}
                  </a>
                )}
              </li>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </nav>
</header>
<script is:inline>
  const header = document.querySelector(".header");
  window.addEventListener("scroll", () => {
    const scrollY = window.scrollY;
    if (scrollY > 0) {
      header.classList.add("header-sticky");
    } else {
      header.classList.remove("header-sticky");
    }
  });
</script>
